<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

	<!-- Main Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-secondary sticky-top">
		<a class="navbar-brand" th:href="@{/home}">More than Sax</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbar" aria-controls="navbar" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/home}">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/tshirts}">Backing Tracks</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/masks}">Cover Songs</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/stickers}">Music Scores</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/account}">Video</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/basket}">About</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/wishlist}">Contact</a>
			</ul>
		</div>
	</nav>

	<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('https://wallpapercave.com/wp/lVXSh99.jpg');
    height: 1080px;
    width: 1920px;
  "
></div>
<!-- Background image -->

	<!-- Content Section -->
	<section layout:fragment="content">
		<p>This is filled by the content template.</p>
	</section>

	<script src="https://kit.fontawesome.com/13ccb33514.js"
		crossorigin="anonymous"></script>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<!-- Footer -->
	<footer class=" text-center text-white"
		style="background-color: #53b288;">
		<!-- Grid container -->
		<div class="container p-4">

			<!-- Section: Social media -->
			<section class="mb-4">
				<!-- Facebook -->
				<a class="btn btn-primary btn-floating m-1"
					style="background-color: #3b5998" href="https://www.facebook.com"
					role="button"><i class="fab fa-facebook-f"></i></a>

				<!-- Instagram -->
				<a class="btn btn-primary btn-floating m-1"
					style="background-color: #ac2bac" href="https://www.instagram.com"
					role="button"><i class="fab fa-instagram"></i></a>

				<!-- Linkedin -->
				<a class="btn btn-primary btn-floating m-1"
					style="background-color: #0082ca"
					href="https://www.linkedin.com/in/alina-gabriela-neacsu-a9bb98145/"
					role="button"><i class="fab fa-linkedin-in"></i></a>

				<!-- Github -->
				<a class="btn btn-primary btn-floating m-1"
					style="background-color: #333333"
					href="https://github.com/alinaneacsu" role="button"><i
					class="fab fa-github"></i></a>
			</section>
			<!-- Section: Social media -->


			<!-- Section: Form -->
			<section class="">
				<form action="">
					<!--Grid row-->
					<div class="row d-flex justify-content-center">
						<!--Grid column-->
						<div class="col-auto">
							<p class="pt-2">
								<strong>Sign up for our newsletter</strong>
							</p>
						</div>
						<!--Grid column-->

						<!--Grid column-->
						<div class="col-md-5 col-12">
							<!-- Email input -->
							<div class="form-outline form-white mb-4">
								<input type="email" id="form5Example2" class="form-control" />
								<label class="form-label" for="form5Example2">Email
									address</label>
							</div>
						</div>
						<!--Grid column-->

						<!--Grid column-->
						<div class="col-auto">

							<!-- Submit button -->
							<button type="submit" class="btn btn-outline-light mb-4">
								Subscribe</button>
						</div>
						<!--Grid column-->
					</div>
					<!--Grid row-->
				</form>
			</section>
			<!-- Section: Form -->

			<!-- Footer -->
			<footer class="page-footer font-small blue pt-4">

				<!-- Footer Links -->
				<div class="container-fluid text-center text-md-left">

					<!-- Grid row -->
					<div class="row">

						<!-- Grid column -->
						<div class="col-md-6 mt-md-0 mt-3">

							<!-- Content -->
							<h5 class="text-uppercase">ABOUT US</h5>
							<p>We are Led Zeppelin. We are here to make your life easier.
								Look cool, feel cool!</p>

						</div>
						<!-- Grid column -->

						<hr class="clearfix w-100 d-md-none pb-3">

						<!-- Grid column -->
						<div class="col-md-3 mb-md-0 mb-3">

							<!-- Links -->
							<h5 class="text-uppercase">STORE</h5>

							<ul class="list-unstyled">
								<li><a href="/tshirts" class="text-white">T-shirts</a></li>
								<li><a href="/masks" class="text-white">Face Masks</a></li>
								<li><a href="/stickers" class="text-white">Stickers</a></li>
							</ul>

						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-3 mb-md-0 mb-3">

							<!-- Links -->
							<h5 class="text-uppercase">UTILS</h5>

							<ul class="list-unstyled">
								<li><a href="#!" class="text-white">Terms & Conditions</a></li>
								<li><a href="#!" class="text-white">Confidentiality
										Policy</a></li>
								<li><a href="#!" class="text-white">Cookies</a></li>
							</ul>

						</div>
						<!-- Grid column -->

					</div>
					<!-- Grid row -->

				</div>
				<!-- Footer Links -->

				<!-- Copyright -->
				<div class="footer-copyright text-center py-3">
					© 2021 Copyright: <a href="#!" class="text-white">
						LedZeppelin.com</a>
				</div>
				<!-- Copyright -->

			</footer>
			<!-- Footer -->
</body>
</html>